
/* HolyGrail Layout and Navbar styling */

.flex-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#root {
  .ant-popover-inner-content {
    padding: 0 !important;
    border: none !important;
  }
}

#app {
  display: flex;
  flex: 1;
}

.app {
  &__header {
    flex: none;
    height: 3.6rem;
    border-bottom: 1px solid #e9e9e9;
    position: fixed;
    width: 100%;
    z-index: 90;

    &__menu {
      line-height: 3.1rem;
      padding-top: 0.45rem;
      border-bottom: none !important;
      background: transparent;

      &__item {
        padding: 0 1rem;

        > a {
          font-family: $font-family-nav-menu;
          font-weight: normal;
          font-size: 0.85rem;
          color: $color-nav-menu;
        }

        &--mobile {
          padding: 0.7rem 1rem !important;
          height: 4rem !important;

          &__link {
            font-family: $font-family-nav-menu;
            font-weight: normal;
            font-size: 0.85rem;
            color: #596981;
          }
        }
      }

      &__dropdown {
        &__trigger {
          font-family: $font-family-nav-menu;
          cursor: pointer;
          height: 2.5rem;
          color: $color-nav-menu;
          float: right;
        }

        &__option {
          font-family: $font-family-nav-menu;
          color: $color-nav-menu;
          cursor: pointer;

          &:hover {
            background-color: #fbfbfb;
            color: $color-nav-menu-hover-text;
          }

          > a {
            color: $color-nav-menu;

            &:hover {
              background-color: #fbfbfb;
              color: $color-nav-menu-hover-text;
            }
          }
        }
      }
    }
  }

  &__main {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding: 3.5rem 1.5rem 0;

    @include mq($from: tablet) {
      padding: 5.5rem 1.5rem 0;
    }

    @include mq($from: tablet) {
      flex-direction: row;
    }

    &__content {
      margin-top: 1.5rem;

      @include mq($from: tablet) {
        flex: 1;
        padding: 0 1.5rem;
        max-width: 80rem;
        margin: 0 auto;
      }
    }
  }

  &__footer {
    flex: none;
    text-align: center;
    color: #cbbf85;

    > a { color: #f8e792; }
  }
}

