/* Spacing */
.m-a { margin: ($space * 1); }
.m-t { margin-top: ($space-y * 1); }
.m-r { margin-right: ($space-y * 1); }
.m-b { margin-bottom: ($space-y * 1); }
.m-l { margin-left: ($space-y * 1); }

.m-x {
  margin-right: ($space-x * 1);
  margin-left: ($space-x * 1);
}

.m-y {
  margin-top: ($space-y * 1);
  margin-bottom: ($space-y * 1);
}

.m-a-lg { margin: ($space * 3); }
.m-t-lg { margin-top: ($space-y * 3); }
.m-r-lg { margin-right: ($space-y * 3); }
.m-b-lg { margin-bottom: ($space-y * 3); }
.m-l-lg { margin-left: ($space-y * 3); }

.m-x-lg {
  margin-right: ($space-x * 3);
  margin-left: ($space-x * 3);
}

.m-y-lg {
  margin-top: ($space-y * 3);
  margin-bottom: ($space-y * 3);
}

.m-a-md { margin: ($space * 1.5); }
.m-t-md { margin-top: ($space-y * 1.5); }
.m-r-md { margin-right: ($space-y * 1.5); }
.m-b-md { margin-bottom: ($space-y * 1.5); }
.m-l-md { margin-left: ($space-y * 1.5); }

.m-x-md {
  margin-right: ($space-x * 1.5);
  margin-left: ($space-x * 1.5);
}

.m-y-md {
  margin-top: ($space-y * 1.5);
  margin-bottom: ($space-y * 1.5);
}

.m-a-sm { margin: ($space * 0.5); }
.m-t-sm { margin-top: ($space-y * 0.5); }
.m-r-sm { margin-right: ($space-y * 0.5); }
.m-b-sm { margin-bottom: ($space-y * 0.5); }
.m-l-sm { margin-left: ($space-y * 0.5); }

.m-x-sm {
  margin-right: ($space-x * 0.5);
  margin-left: ($space-x * 0.5);
}

.m-y-sm {
  margin-top: ($space-y * 0.5);
  margin-bottom: ($space-y * 0.5);
}

.m-a-xs { margin: ($space * 0.25); }
.m-t-xs { margin-top: ($space-y * 0.25); }
.m-r-xs { margin-right: ($space-y * 0.25); }
.m-b-xs { margin-bottom: ($space-y * 0.25); }
.m-l-xs { margin-left: ($space-y * 0.25); }

.m-x-xs {
  margin-right: ($space-x * 0.25);
  margin-left: ($space-x * 0.25);
}

.m-y-xs {
  margin-top: ($space-y * 0.25);
  margin-bottom: ($space-y * 0.25);
}

.p-a { padding: ($space * 1); }
.p-t { padding-top: ($space-y * 1); }
.p-r { padding-right: ($space-y * 1); }
.p-b { padding-bottom: ($space-y * 1); }
.p-l { padding-left: ($space-y * 1); }

.p-x {
  padding-right: ($space-x * 1);
  padding-left: ($space-x * 1);
}

.p-y {
  padding-top: ($space-y * 1);
  padding-bottom: ($space-y * 1);
}

.p-a-lg { padding: ($space * 3); }
.p-t-lg { padding-top: ($space-y * 3); }
.p-r-lg { padding-right: ($space-y * 3); }
.p-b-lg { padding-bottom: ($space-y * 3); }
.p-l-lg { padding-left: ($space-y * 3); }

.p-x-lg {
  padding-right: ($space-x * 3);
  padding-left: ($space-x * 3);
}

.p-y-lg {
  padding-top: ($space-y * 3);
  padding-bottom: ($space-y * 3);
}

.p-a-md { padding: ($space * 1.5); }
.p-t-md { padding-top: ($space-y * 1.5); }
.p-r-md { padding-right: ($space-y * 1.5); }
.p-b-md { padding-bottom: ($space-y * 1.5); }
.p-l-md { padding-left: ($space-y * 1.5); }

.p-x-md {
  padding-right: ($space-x * 1.5);
  padding-left: ($space-x * 1.5);
}

.p-y-md {
  padding-top: ($space-y * 1.5);
  padding-bottom: ($space-y * 1.5);
}

.p-a-sm { padding: ($space * 0.5); }
.p-t-sm { padding-top: ($space-y * 0.5); }
.p-r-sm { padding-right: ($space-y * 0.5); }
.p-b-sm { padding-bottom: ($space-y * 0.5); }
.p-l-sm { padding-left: ($space-y * 0.5); }

.p-x-sm {
  padding-right: ($space-x * 0.5);
  padding-left: ($space-x * 0.5);
}

.p-y-sm {
  padding-top: ($space-y * 0.5);
  padding-bottom: ($space-y * 0.5);
}

.p-a-xs { padding: ($space * 0.25); }
.p-t-xs { padding-top: ($space-y * 0.25); }
.p-r-xs { padding-right: ($space-y * 0.25); }
.p-b-xs { padding-bottom: ($space-y * 0.25); }
.p-l-xs { padding-left: ($space-y * 0.25); }

.p-x-xs {
  padding-right: ($space-x * 0.25);
  padding-left: ($space-x * 0.25);
}

.p-y-xs {
  padding-top: ($space-y * 0.25);
  padding-bottom: ($space-y * 0.25);
}

.padding { padding: 1.5rem; }
.no-padding { padding: 0 !important; }
.margin { margin-bottom: 1.5rem; }
.padding-out { margin: -1.5rem -1.5rem; }
