/* Custom media query breakpoints and related helpers */

.hide-at-phone { @include mq(phone) { display: none !important; } }
.hide-at-phoneLandscape { @include mq(phoneLandscape) { display: none !important; } }
.hide-at-tablet { @include mq(tablet) { display: none !important; } }
.hide-at-desktop { @include mq(desktop) { display: none !important; } }
.hide-at-wide-desktop { @include mq(wide-desktop) { display: none !important; } }
.hide-at-full-hd { @include mq(full-hd) { display: none !important; } }

.show-at-phone { @include mq(phone) { display: block !important; } }
.show-at-phoneLandscape { @include mq(phoneLandscape) { display: block !important; } }
.show-at-tablet { @include mq(tablet) { display: block !important; } }
.show-at-desktop { @include mq(desktop) { display: block !important; } }
.show-at-wide-desktop { @include mq(wide-desktop) { display: block !important; } }
.show-at-full-hd { @include mq(full-hd) { display: block !important; } }

/* Add custom breakpoints here */
@include mq-add-breakpoint(my-custom-bp, 2000px);
