$primary-color: #0cc2aa;

$color-nav-menu: #596981;
$color-nav-menu-hover-text: #596981;
$color-nav-menu-hover-bg: #efd76f;

$font-family-text: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
$font-family-headlines: Open Sans,Helvetica Neue, Helvetica,Arial, sans-serif;
$font-family-nav-menu: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;

$space:				  	1rem;
$space-x:				  1rem;
$space-y:					1rem;
